- account_exists = User.find_by_email(@authhash[:email]).present?
%section#services_new.services.text
  %h1= account_exists ? 'Account exists' : 'Create new account'
  %p.small
    Provider:
    = @authhash[:provider]
    %br/
    ID:
    = @authhash[:uid]
    %br/
    Name:
    = @authhash[:name]
    %br/
    Email:
    = @authhash[:email]
    %br/

  = form_tag :controller => "services", :action => "newaccount" do
    - submit_text = account_exists ? 'Confirm and log in to this account' : 'Confirm and create new account'
    = submit_tag submit_text
    = submit_tag "Cancel"
