%section#edit_user.text
  = form_for @user do |f|
    %h3 Edit user
    %section#user-email
    = f.label :email
    = f.email_field :email, :disabled => 'disabled'
    - if current_user.admin?
      %section#user-active
      = f.label :active
      = f.check_box :active
    %section#user-handle
    = f.label :handle
    = f.text_field :handle
    %section#user-pushup-set-count
    = f.label :pushup_set_count, "Count"
    = f.number_field :pushup_set_count, :min => 0, :max => 9999
    = f.submit
