!!!
%html
  %head
    %title Buffset
    %link{:href => 'http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister&v2', :rel => 'stylesheet', :type => 'text/css'}
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    %section#body
      %section#flash
        - flash.each do |key, value|
          .flash.round{:class => key}
            = value
      %nav#nav_user
        %ul
          - if user_signed_in?
            %li= current_user.email
            %li= link_to "Edit", edit_user_path(current_user)
            %li= link_to "Sign out", signout_services_path
            %li &nbsp;
      .clear
      = yield
